{% extends "layout/base.html" %}

{% block content %}
<div x-data="sales">
    <!-- Breadcrumb -->
    <ul class="flex space-x-2 rtl:space-x-reverse">
        <li>
            <a href="/dashboard" class="text-primary hover:underline">Dashboard</a>
        </li>
    </ul>

    {% include "components/session-message.html" %}

    
    <!-- Content -->
    <div class="pt-5">
        <div class="panel border-dashed border-2 border-gray-300 dark:border-gray-600 text-center py-10 rounded-lg">
            <p class="text-gray-500 dark:text-gray-400 text-lg">
                Welcome to Flaskel Framework! This is the default dashboard page.
            </p>
        </div>
    </div>
</div>
{% endblock %}
